html{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-borroso-oscuro-abstracto-color-textura-suave-degradado-patron-sitio-web-brillante-brillante-encabezado-banner-o-imagen-arte-grafico-barra-lateral_1258-82972.jpg?w=996&t=st=1666755898~exp=1666756498~hmac=f01a78133537ad0b0b5ab9ab2f110ceef5e2f56d531c6a89e1be301f5c15fecd");
}
body {
    color: white;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
.navbar-item img {
    max-height: 3.95rem;
}
.nav{
    background-color: #000000;
}
.container .is-primary .panel-heading {
    background-color: #383838;
}
.button.is-primary{
    background-color: #4572FF;
}
.container{
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    align-items: center;
}
.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
p.panel-heading{
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25;
    padding: .85em 1.55em;
    text-align: left;
    background-color: #F6F8FF;
}
.panel{
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    font-size: 1rem;
    background-color: #F6F8FF;
    width: 90%;
    margin-left: 5%;
    margin-right: 25%;
    color: black;
}
.column.is-three-fifths, .column.is-three-fifths-tablet {
    flex: none;
    width: 150%;
    margin-top:40px;
    background-color:#F6F8FF;
    color:#000000;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    padding: 20px;
    height: 400px;
}
.columns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    font-size: 23px;
    text-align: center;
}
.registrocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75em 1em;
}
.registropcontainer{
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #F6F8FF;
    color: #000000;
}
.contenedor{
    background-color: #F6F8FF;
    color: #000000;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    width: 700px;
    margin-left: 25%;
    margin-right: 25%;
}
hr{
    background-color: #dce5ff;
}
.foco{
    background-color: #fffFFF;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    width: 70px;
    height: 70px;
}
.puerta{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    font-size: 1rem;
    padding: 20px;
    width: 10%;
    height: 20%;
}
.botonPuerta{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgb(212, 226, 233);
    box-shadow: 0 0.5em 1em -0.125em rgb(138 138 138 / 30%), 0 0 0 1px rgb(138 138 138 / 1%);
    padding: 25px;
    
}
.textoEstado{
    padding-top: 30px;
    font-weight:bolder;
    font-size: 15.5px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.textoIcono{
    font-weight:bolder;
    text-align: left;
}


h1{
    text-align: left;
    font-size: 30px;
    font-weight:bolder;
}
h2{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.nosotros{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 95px;
    padding-right: 95px;
    text-align: justify;
    text-justify: inter-word;
}
.nosotros img{
    width: 35%;
    float: right;
    padding:15px;
}
ul{
    list-style:disc;
    padding-left: 45px;
    padding-right: 45px;
}







.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
  }
  
#slider .card-content{
    max-width: 50%;
  }
  
#slider{
    overflow: hidden;
  }
  
@media screen and (max-width: 1023px) {
    #slider .card-content{
      display: none;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

.caption-container {
  color: white;
}
.historia{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 95px;
    padding-right: 95px;
    text-align: justify;
    text-justify: inter-word;
}
.historia img{
    width: 35%;
    float: left;
    padding:19px;
    padding-left: 1px;
}
